<a href="https://colab.research.google.com/github/joony0512/HTML_CSS/blob/main/%ED%8E%98%EC%9D%B4%EC%A7%80%ED%81%AC%EB%A1%A4%EB%A7%81_%EC%A0%95%EB%B3%B4%EC%B6%94%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 라이브러리

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

# 페이지 하나 안에서 뽑기

In [ ]:
<div class="content col-xs-12 col-sm-12 col-md-8">                     
		                    <section>
			                    <header>
			                        <h2>탈로스</h2> 
			                    </header>
			                    <div class="desc">
			                        신경외과 전문의 김택균 대표이사와 인공지능 및 데이터 과학 전문가들이 만든 인공지능 기반 질병 위험도 평가 소프트웨어 개발 회사입니다. 뇌동맥류 발병 위험도 예측 장치 및 방법에 대한 전용실시권과 안저 사진을 이용한 뇌동맥류 예측 장치 및 뇌동맥류 예측 결과 제공 방법에 대한 특허를 가지고 있으며 국민건강보험공단 검진 데이터를 이용하여 뇌동맥류 발병 위험인자를 규명하고자 머신러닝 기법을 도입하여 개인화된 뇌동맥류 발병 위험도 산출 모델을 생성합니다.			                    </div> 
			                    <div class="table-responsive">
			                        <table class="table">
			                            <tbody><tr>
			                                <th>사업분야</th>
			                                <td>바이오의료</td> 
			                            </tr>
			                            <tr>
			                                <th>설립일</th>
			                                <td>2021.05.06</td>
			                            </tr>
			                            <tr>
			                                <th>대표자</th>
			                                <td>김택균</td>
			                            </tr>
			                            <tr style="display:none;">
			                                <th>소재지</th>
			                                <td></td>
			                            </tr>
			                            <tr>
			                                <th>사이트</th>
			                                <td><a href="http://www.talos.kr" target="_blank">www.talos.kr</a></td>                        
			                            </tr>
			                            <tr>
			                                <th>TIPS 선정</th>
			                                <td>
											2022.04

																						</td>
			                            </tr>
			                            <tr>
			                                <th>운영기관</th>
			                                <td>
																								<a href="/bbs/board.php?bo_table=partner&amp;wr_id=59">메디톡스벤처투자</a>
											</td>
			                            </tr>
			                        </tbody></table>
			                    </div>
		                    </section>
							
							

							

									                     
		                </div>

## 페이지 하나에서 추출

In [58]:
# 웹페이지에 요청을 보내고 HTML 소스코드를 가져옵니다.
url = "http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=2170&sfl=wr_26&stx=2022"
response = requests.get(url)
html_content = response.text

# BeautifulSoup을 사용하여 HTML을 파싱합니다.
soup = BeautifulSoup(html_content, "html.parser")

# 원하는 정보를 추출하는 작업을 수행합니다.
# 예를 들어, <div> 태그의 클래스가 "content"인 요소들을 가져옵니다.
elements = soup.find_all("div", class_="content col-xs-12 col-sm-12 col-md-8")
df=[]
# 추출한 정보를 출력하거나 원하는 방식으로 가공합니다.
for element in elements:
  df.append(element.text)
    
data =df

# 데이터 추출
extracted_data = re.split(r'\n+|\t+', data[0])

# 데이터 테이블 생성
df = pd.DataFrame({'Data': extracted_data})



# 데이터 테이블 생성
df = pd.DataFrame({'Data': extracted_data})

# 필요한 인덱스 선택
indices = [1, 7, 9, 11, 18, 23]

# 특정 인덱스에 해당하는 행 추출
selected_rows = df.iloc[indices]

# 인덱스가 18인 경우 '\r' 제거
selected_rows.loc[18, 'Data'] = selected_rows.loc[18, 'Data'].replace('\r', '')

# 인덱스 재설정
selected_rows.index = ['사업장명', '사업분야1', '설립년월일', '대표자', 'tips선정일자', '운영기관']

# 설립년월일과 tips선정일자 데이터 처리
for col in ['설립년월일', 'tips선정일자']:
    date_str = selected_rows.loc[col, 'Data']
    date_str = date_str.replace('.', '')
    date_str = date_str.ljust(8, '0')  # 뒤에 0으로 채우기
    selected_rows.loc[col, 'Data'] = date_str

# 데이터프레임 출력
selected_rows

<ipython-input-58-97bcd9a3d4e5>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_rows.loc[18, 'Data'] = selected_rows.loc[18, 'Data'].replace('\r', '')
<ipython-input-58-97bcd9a3d4e5>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_rows.loc[col, 'Data'] = date_str

              Data
사업장명           탈로스
사업분야1        바이오의료
설립년월일     20210506
대표자            김택균
tips선정일자  20220400
운영기관      메디톡스벤처투자

## 큰페이지 하나에서 url 가져오기

### HTML

### 이름 : url 형식으로 테이블

In [65]:
import pandas as pd
from bs4 import BeautifulSoup
# BeautifulSoup를 사용하여 HTML 파싱
soup = BeautifulSoup(html, 'html.parser')

# 이름과 URL 추출
names = [name.text for name in soup.select('.packery .name')]
urls = [a['href'] for a in soup.select('.packery a')]

# 추출한 데이터를 데이터프레임으로 변환
df = pd.DataFrame({'이름': names, 'URL': urls})

# 테이블 출력
df

,이름,URL
0,탈로스,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=2170
1,나다디지탈,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=2169
2,행파이브,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=2168
3,아이클로,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=2167
4,코비그룹,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=2166
...,...,...
385,스포투,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=1784&page=26
386,위스피온,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=1783&page=26
387,애니멀고,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=1782&page=26
388,새솔테크,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=1781&page=26
389,메디르,http://www.jointips.or.kr/bbs/board.php?bo_table=team&wr_id=1780&page=26

In [67]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# 페이지 URL
url = 'http://www.jointips.or.kr/bbs/board.php?bo_table=team'

# 페이지 요청
response = requests.get(url)

# 페이지 HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')

# 데이터 추출
data = []
for element in soup.find_all('div', class_='item col-xs-6 col-sm-6 col-md-3 '):
    name = element.text.strip()
    url = element.find_next_sibling('a')['href']
    data.append({'이름': name, 'URL': url})

# 데이터프레임 생성
df = pd.DataFrame(data)

# 테이블 출력
print(df)

Empty DataFrame
Columns: []
Index: []

In [70]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# 페이지 URL
url = 'http://www.jointips.or.kr/bbs/board.php?bo_table=team'

# 페이지 요청
response = requests.get(url)

# 페이지 HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')

# 데이터 추출

# 이름과 URL 추출
names = [name.text for name in soup.select('.packery .name')]
urls = [a['href'] for a in soup.select('.packery a')]

# 추출한 데이터를 데이터프레임으로 변환
df = pd.DataFrame({'이름': names, 'URL': urls})

# 테이블 출력
print(df.shape)

(15, 2)